* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--Main-Very-dark-desaturated-blue);
    min-height: 100vh;
    flex-direction: column;
}

#main {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#calculator {
    width: 98vw;
    max-width: 300px;
    margin-top: 1.5rem;
}

h1 {
    font-size: 1.6rem;
}

#app-header {
    color: var(--White);
    justify-content: space-between;
    align-items:last baseline;
}

#app-header > div:nth-child(2) {
    align-items: flex-end;
    gap: 20px;
    font-size: 0.8rem;
    font-weight: 700;
}

.theme-button-container {
    flex-direction: column;
    gap: 5px;
}

.theme-levels {
    gap: 14px;
}

#theme-button {
    width: 62px;
    height: 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--Toggle-Very-dark-desaturated-blue);
    cursor: pointer;
}

#theme-button::before {
    display: block;
    content: '';
    height: 14px;
    width: 14px;
    background-color: var(--Red);
    border-radius: 50%;
    margin: 0 3px;
}

.output-container, #output-box {
    background-color: var(--Screen-Very-dark-desaturated-blue);
    color: var(--White);
}

.output-container {
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0.5rem;
}

#output-box {
    border: none;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    text-align: right;
    padding: 1rem;
}

.input-button-container {
    margin-top: 0.9rem;
    padding: 1rem;
    background-color: var(--Toggle-Very-dark-desaturated-blue);
    border-radius: 0.5rem 0.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.input-button-container button, .calculate-button-container button {
    height: 40px;
    line-height: 40px;
    background-color: var(--Light-grayish-orange);
    border: none;
    border-bottom: 3px solid var(--Grayish-orange);
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--Toggle-Very-dark-desaturated-blue);
    user-select: none;
    cursor: pointer;
}

#delete-btn, #reset-button {
    background-color: var(--Desaturated-dark-blue);
    border-color: var(--Shadow-Desaturated-dark-blue);
    color: var(--White);
}

.calculate-button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background-color: var(--Toggle-Very-dark-desaturated-blue);
    padding: 0 1rem 1rem 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

#calculate-button {
    background-color: var(--Red);
    border-color: var(--Dark-red);
    color: var(--White);
}